# Folder view configuration files
.DS_Store
Desktop.ini

*.swp
*.swo
*.swn
*.rvmrc
*.sql
/tmp
.sass-cache
*.sqlite
*.bz2
*.gitconfig

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes